body {
  background-color: rgb(206, 204, 204);
}

.container {
  max-width: 1080px;
  padding: 0 4px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
