.project-card-sec {
  margin-bottom: 32px;
  cursor: pointer;
  h2 {
    margin: 12px 0 12px 0;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  .project-card {
    margin-bottom: 1px;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
    img {
      width: 80px;
    }
    .text-and-upvote-btn {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      .text-content {
        margin-left: 8px;
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
        p {
          font-size: 13px;
          color: #6f6f6f;
        }
        .icon-and-category {
          margin-top: 12px;
          align-items: center;
          font-size: 11px;
          font-weight: 500;
          color: #6f6f6f;
          .box {
            align-items: center;
            border: 1px solid #e8e8e8;
            padding: 2px 8px;
            border-radius: 4px;
            cursor: pointer;
            span {
              margin-left: 4px;
              text-transform: uppercase;
            }
          }
          .box:hover {
            background-color: #e8e8e8;
          }
          h5 {
            padding-left: 12px;
          }
        }
      }
      .upvote-btn {
        display: flex;
        margin-top: 12px;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        border: 1px solid #e8e8e8;
        height: 70px;
        width: 63px;
        font-size: 11px;
        font-weight: 600;
        cursor: pointer;
      }
      .upvote-btn:hover {
        background-color: #e8e8e8;
      }
    }
  }
  .project-card:hover {
    background-color: #f8f8f8;
  }
}
