.upcoming-projects-sec {
  h1 {
    padding: 20px 0 16px;
    font-size: 16px;
    font-weight: 600;
    span {
      padding-left: 4px;
      font-weight: 400;
      font-size: 13px;
      color: #6f6f6f;
    }
  }
  .upcoming-project-container {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px 20px;
    .project-card {
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      .text-content {
        font-size: 13px;
        h3 {
          color: #000;
          font-weight: 600;
        }
        h4 {
          color: #6f6f66;
          padding-bottom: 8px;
        }
        span {
          font-size: 11px;
          color: #6f6f6f;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
        }
        span:hover {
          color: #949393;
        }
      }
      img {
        width: 40px;
      }
    }
    button {
      border: 1px solid #e8e8e8;
      width: 100%;
      padding: 8px 0;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      color: #cc4d29;
      margin: 16px 0;
      cursor: pointer;
    }
    button:hover {
      background-color: #e8e8e8;
    }
  }
}
